@use '../../../sass/globals/variables' as var;


.buttonsPlayer{
   button{
      font-size: 20px;
      color: #9f9f9f;
   
      &:hover{
         color: white;
      }
   }

   .buttonPlay, .buttonPause{
      color: #1c0c23;
      background-color: white;
      font-size: 20px;
      padding: 8px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
   
      &:hover{
         color: #1c0c23;
         //background-color: #ffff66;
         transform: scale(1.1) ;
         -webkit-transform: scale(1.1) ;
         -moz-transform: scale(1.1) ;
         -ms-transform: scale(1.1) ;
         -o-transform: scale(1.1) ;
         transition: transform 0.1s linear;
         -webkit-transition: transform 0.1s linear;
         -moz-transition: transform 0.1s linear;
         -ms-transition: transform 0.1s linear;
         -o-transition: transform 0.1s linear;
      }
   }
}








