@use '../../sass/globals/variables' as var;

.container {
	width: 232px;
	padding: 2em 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;

	.navbar {
		h4 {
			color: var.$muted-color;
			margin-bottom: 0.5em;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			list-style: none;
			color: var.$secondary-color;

			li,
			li a {
				display: flex;
				align-items: center;
				font-size: 1rem;
				gap: 0.8em;
			}

			a:hover {
				text-decoration: underline;
			}

			.activeLink {
				color: #ffff66;
				opacity: 0.9;
				font-weight: 700;
			}
		}
	}

	.ulCollections {
		.activeLink {
			color: #ffff66;
			opacity: 0.8;
			font-weight: 700;
		}
		.inactiveLink {
			color: var.$light-grey;
		}
		.inactiveLink:hover {
			color: var.$secondary-color;
		}
	}
}
