@use '../../sass/globals/variables' as var;

.container {
  width: 232px;
  padding: 1em;

  .navbar {

    h4 {
      color: var.$muted-color;
    }
    
    ul {
      list-style: none;
      color: var.$secondary-color;

      li {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        gap: 0.5em;
      }
    }
  }
}