@use '../../../../sass/globals/variables' as var;

.buttonForm {
	font: inherit;
	border: none;
	cursor: pointer;
	font-size: calc(var.$size * 0.25);
	width: 100%;
	height: fit-content;
	background-color: var.$primary-color;
	color: var.$secondary-color;
	text-decoration: none;
	opacity: 1;
	padding: 0.4em 1.4em;
	border-radius: var.$radius;
	border: solid 2px var.$primary-color;
	box-shadow: 0.05em 0.1em 0.9em var.$primary-color-30,
		0 0 0 -0.1em var.$bg-dark-color, 0 0 0 -0.2em var.$primary-color;
	transition: box-shadow var.$tspeed_slow var.$ttype_squish,
		background-color var.$tspeed_fast var.$ttype_squish;
}

.buttonForm:where(:active, :hover) {
	box-shadow: rgba(157, 80, 178, 0.25) 0px 14px 28px,
		rgba(86, 17, 129, 0.22) 0px 10px 10px;
}

.buttonForm:focus {
	outline: none;
}

.buttonForm:focus-visible {
	box-shadow: 0 0 0 var.$primary-color-30, 0 0 0 0.2em var.$bg-dark-color,
		0 0 0 0.4em var.$primary-color-70;
}
