@use '../../sass/globals/variables' as var;

.modalContent {
	color: var.$gray-200;

	.addPlaylistBtn {
		background-color: var.$gray-200;
		color: var.$gray-700;
		margin-top: 1em;
		padding: 0.2em 0.4em;
		border-radius: 50px;

		&:hover {
			background-color: var.$gray-300;
		}
	}
}
