@use './globals/variables' as var;
@forward './globals/errorMessage';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: var.$font-primary;
}
