@use '../../sass/globals/variables' as var;

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: var.$secondary-color;
	padding-left: 3em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #8f85ad;

	@media (max-width: 500px) {
		padding-bottom: 0;
	}

	.title {
		display: flex;
		color: var.$light-grey;
		min-width: 25%;
		font-weight: 300;
		letter-spacing: 0.05rem;
		text-align: center;
		padding-right: 3em;

		@media (max-width: 500px) {
			display: none;
		}
	}

	.album {
		color: var.$light-grey;
		min-width: 25%;
		font-weight: 300;
		letter-spacing: 0.05rem;
		text-align: center;
		margin-right: 3em;

		@media (max-width: 500px) {
			display: none;
		}
	}

	.timeIcon {
		color: var.$light-grey;
		min-width: 25%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1em;
		padding-right: 2em;

		@media (max-width: 500px) {
			display: none;
		}
	}
}
