@use '../../sass/globals/variables' as var;

.headerNoImage{
   // background: rgb(24,22,29);
   // background: linear-gradient(0deg, rgba(24,22,29,1) 0%, rgba(36,42,18,1) 15%, rgba(53,64,25,1) 31%, rgba(83,97,40,1) 49%, rgba(102,120,49,1) 59%, rgba(200,236,95,1) 100%);
   height: 35vh;
	margin-bottom: 2rem;
	margin-top: -5.5rem;
   img{
      display: none;
   }
}

.contentButton{
   display: flex;
   justify-content: end;
   margin:1rem;
}