@use '../../sass/globals/variables' as var;

.fileText {
	color: var.$primary-color;
	padding: 0.5em 1em;
	font-size: calc(var.$size * 0.2);
	letter-spacing: 0.05em;
}

.inputFile[type='file'] {
	width: 350px;
	max-width: 100%;
	color: var.$muted-color;
	padding: 5px;
	background: transparent;
	border-radius: 10px;
	border: 1px solid #555;
}

.inputFile[type='file']::file-selector-button {
	margin-right: 20px;
	border: none;
	background: var.$primary-color;
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

.inputFile[type='file']::file-selector-button:hover {
	background: var.$primary-color-70;
}
