@use '../../sass/globals/variables' as var;

.card{
  
    background-color: var.$bg-player-color;
    padding: 0.7rem;
    border-radius: 0.5rem;
    min-width: 10rem;
  
    .songCover {
      min-width: 7rem;
      width: 100%;
    }
    
    .songTitle {
      font-weight: 600;
      line-height: 1.2em;
      margin: 0.6em 0;
      padding: 0 0.3em;
      color: var.$secondary-color;
    }
    
    .songArtist {
      color: var.$muted-color;
      padding: 0 0.3em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
}



