@use '../../sass/globals/variables' as var;

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: #FFFFFF;
	padding-left: 5.5vw;
    margin-top: 6vw;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #FFFFFF;

	// &:hover {
	//   background-color: var.$bg-player-color;
	// }

	.title {
		display: flex;
		color: #FFFFFF;
		min-width: 25%;
		font-weight: 300;
		letter-spacing: 0.05rem;
		text-align: center;
		padding-right: 3em;
        margin-left: 10vw;
	}

	.artist {
		color: #FFFFFF;
		min-width: 25%;
		font-weight: 300;
		letter-spacing: 0.05rem;
        margin-left: -7vw;
		text-align: center;
		margin-right: 3em;
	}

    .plays {
		color: #FFFFFF;
		min-width: 25%;
		font-weight: 300;
		letter-spacing: 0.05rem;
        margin-left: 10vw;
		text-align: center;
		margin-right: -6.5em;
        
	}

    .minutes {
		color: #FFFFFF;
		min-width: 25%;
		font-weight: 300;
		letter-spacing: 0.05rem;
		text-align: center;
        margin-left: -3vw;
		margin-right: 6em;
        
	}

	// var.$light-grey
}