@use '../../../sass/globals/variables' as var;

.progressMvl{
   background: var.$gardient-footer-color;
}

.containerPlayer{
   background: var.$gardient-footer-color;

   span{
      color: var.$secondary-color;
   }
   
}

input[type='range'] {
   overflow: hidden;
   -webkit-appearance: none;
   background-color: #2d2d2d;
   height: 5px;
   margin-top:10px;

   &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color: var.$secondary-color;
      margin-top: -1px;
   }

   &::-webkit-slider-thumb {
      width: 1px;
      -webkit-appearance: none;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px var.$primary-color;
      box-shadow: -80px 0 0 80px var.$bg-searchBar;
   }

   &:hover::-webkit-slider-thumb {
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
   }
   
}



// input[type='range']:hover::-webkit-slider-thumb {
//    position: absolute;
//    width: 16px;
//    height: 16px;
//    border-radius: 50%;
//    background-color: #ffffff;
//    -webkit-appearance: none;
//    box-shadow: none;
//    cursor: ew-resize;
// }
