@use '../../sass/globals/variables' as var;

.inputWrapper {
	position: relative;
	display: grid;
	gap: 0.3em;

	.textLabel {
		font-size: calc(var.$size * 0.2);
		letter-spacing: 0.05em;
		margin-inline: 0.45em;
		position: absolute;
		opacity: 0.6;
		top: 50%;
		background-color: inherit;
		transform: translateY(-160%);
		padding: 0.1em 0.5em;
		color: var.$muted-color;
		transition: transform var.$tspeed_fast var.$ttype_squish,
			background-color var.$tspeed_fast var.$ttype_squish;

		&:enabled {
			opacity: 1;
		}
	}

	.textArea {
		outline: 1px solid var.$muted-color;
		border-radius: var.$radius;
		padding: 1em;
		width: 100%;
		font-size: calc(var.$size * 0.2);
		opacity: 0.8;
		background-color: inherit;
		caret-color: var.$primary-color;
		color: var.$secondary-color;
		box-shadow: 0 0 0 -0.1em var.$bg-dark-color,
			0 0 0 -0.2em var.$primary-color-70;
		box-shadow: 0.05em 0.1em 0.9em var.$primary-color-30,
			0 0 0 -0.1em var.$bg-dark-color, 0 0 0 -0.2em var.$primary-color;
		transition: box-shadow var.$tspeed_slow var.$ttype_squish;
		z-index: 99;
		resize: none;

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.2em var.$bg-dark-color, 0 0 0 0.4em var.$primary-color;
			border: none;
			transition: border var.$tspeed_slow var.$ttype_squish;
		}

		&::placeholder {
			opacity: 0;
		}
	}

	.textArea:focus ~ .textLabel,
	.textArea:not(:placeholder-shown) ~ .textLabel {
		transform: translate3d(0, -5.5em, 0);
		background-color: var.$bg-dark-color;
		color: var.$primary-color-70;
	}

	.textArea:focus ~ .textLabel,
	.textArea:not(:placeholder-shown) ~ .textLabel {
		color: var.$primary-color;
		background-color: inherit;
		opacity: 1;
	}

	.errorMsg {
		position: absolute;
		bottom: -25px;
		right: 15px;
		font-size: 0.8rem;
		color: var.$error-color;
		-webkit-animation: shake-horizontal 0.8s linear both;
		animation: shake-horizontal 0.8s linear both;
	}
}
